{% extends 'base.html' %}


{% block content %}


<div class="page-holder">

  <div class="container">
    <!-- HERO SECTION-->
    <section class="py-5 bg-light mb-5">
      <div class="container">
        {% include 'partials/alert.html' %}
        <form action="{% url 'register' %}" method="Post">
          {% csrf_token %}

          <div class="form-group">
            <label for="exampleInputPassword1">First Name</label>
            <input type="text" class="form-control"  name="first_name" id="exampleInputPassword1" placeholder="First Name" required>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Last Name</label>
            <input type="text" class="form-control"  name="last_name" id="exampleInputPassword1" placeholder="Last Name" required>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Username</label>
            <input type="text" class="form-control" id="exampleInputPassword1" name="username" placeholder="Username" required>
          </div>


          <div class="form-group">
            <label for="exampleInputEmail1">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" name="email" aria-describedby="emailHelp" placeholder="Enter email" required>
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password" placeholder="Password" required>
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Repeat Password</label>
            <input type="password" class="form-control" id="exampleInputPassword1" name="password2" placeholder="Password" required>
          </div>
        
        <button type="submit" class="btn btn-primary">Submit</button>
        </form>
       
      </div>

  </div>
  
</div>




{% endblock %}